:host {
    display: block;
    contain: content;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    max-width: 320px;
    margin: 6px auto;
    padding: 6px;
    background-color: rgb(238, 238, 238);
    color: black;
    box-shadow: 2px 2px 3px gray;
    border-radius: 4px;
}

.column-dragged-over {
    border: 3px solid rgb(71, 71, 71);
    box-shadow: 2px 2px 3px darkgray;
    transform: translate(-3px, -3px);
}

.column-header {
    display: flex;
}

.column-title {
    font-weight: bold;
    cursor: pointer;
    flex: 4;
    padding-left: 0.5em;
}

.column-delete-icon {
    flex: 0 0 auto;
    width: 32px;
    height: 100%;
    text-align: center;
    color: lightgray;
    cursor: pointer;
}

.column-title, .column-delete-icon {
    line-height: 32px;
    font-size: 24px;
}

.column-delete-icon:hover {
    color: gray;
}

/* Tablet layout */
@media (min-width: 768px) {
    .column {
        max-width: 340px;
    }

    .column-title, .column-delete-icon {
        line-height: 24px;
        font-size: 20px;
    }
}

/* Laptops: small (e.g. up to 13 inch) */
@media (min-width: 992px) {
    .column {
        max-width: 315px;
    }

    .column-title, .column-delete-icon {
        line-height: 24px;
        font-size: 16px;
    }
}

/* Laptops and Desktops */
@media (min-width: 1200px) {
    .column {
        max-width: 270px;
    }

    .column-title, .column-delete-icon {
        line-height: 16px;
        font-size: 16px;
    }
}


