.proto-column {
    max-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px auto;
    font-size: 13px;
    border-radius: 6px;
    background-color: rgb(14, 104, 221);
    padding: 8px;
    box-shadow: 2px 2px 3px gray;
}

.proto-column-input {
    display: none;
    font-size: 12px;
    width: 97%;
    border: none;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}

.btn-group {
    text-align: center;
}

.proto-column-btn-submit, .proto-column-btn-cancel {
    width: 6em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 0.8em;
    border-radius: 4px;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
    display: none;
    margin: 6px 2em;
}

.proto-column-btn-submit {
    background-color: green;
}

.proto-column-btn-cancel {
    background-color: gray;
}

.proto-column-btn-submit:hover, .proto-column-btn-cancel:hover {
    box-shadow: none;
}

.proto-column-btn-submit:hover {
    background-color: lightgreen;
}

.proto-column-btn-cancel:hover {
    background-color: lightgray;
}

.proto-column-btn-submit:active {
    background-color: darkgreen;
}

.proto-column-btn-cancel:active {
    background-color: slategray;
}

.proto-column-placeholder {
    display: block;
    color: rgb(0, 0, 128);
    cursor: pointer;
}

.proto-column-placeholder:hover {
    background-color: rgba(23, 133, 235, 0.671);
}

/* Tablet layout */
@media (min-width: 768px) {
    .proto-column {
        max-width: 340px;
    }
}

/* Laptops: small (e.g. up to 13 inch) */
@media (min-width: 992px) {
    .proto-column {
        max-width: 315px;
    }
}

/* Laptops and Desktops */
@media (min-width: 1200px) {
    .proto-column {
        max-width: 270px;
    }
}